.titleScreenStyle{
    font-weight: bold;
    color: #014029;
    text-align: left;
    margin-left: 4%;
}

.filtresStyle{
    margin-left: 4%;
}

.buttonStyle{
    margin-left: 1%;
}

.rowBotons{
    margin-top:1%;
    padding-left:12%;
}

.buttonCreateStyle{
    margin-left:65%;
    height: 35px;
    width: 100px;
    background-color: #014029;
    border-radius: 6px;
}

.checkBoxRow{
    padding-left: 2%;
}

.checkBoxButton{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    color:#014029;
}

.text-white{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
