.navbar-style{
    background-color: #F2911B;
    height: 20%;
}

.text-style{
    color: #014029;
    font-size: large;
    font-weight: bold;
}

.titilenav-style{
    color: #F2F2F2;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.titleCardStyle{
    text-align: center;
    font-weight: bold;
    color: #014029;
}

.custom-tag {
    max-width: 100%;
    height: 200px;
    background: #F2C185;
}

.cardsRow{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background: #F2F2F2;
}

.cardEventStyle{
    border: 5px solid #014029;
    border-radius: 20px;
    padding: 2%;
    width:60%;
}

.footerStyle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.viewStyle{
    height: 100vh;
    width: 100%;
    background: #F2F2F2;
}

.rowIconStyle{
    padding-left: 5%;
    margin-top: 1%;
}

.iconStyle{
    margin-left: 1%;
    margin-right: 1%;
    color: #014029;
}

.cardBigStyle{
    border: 3px solid #014029;
    border-radius: 20px;
    padding: 2%;
    width:100%;
    margin-left:3%;
}

.iconStarStyle{
    margin-left: 1%;
    margin-right: 1%;
    color: #F2A71B;
}

.assbaixaStyle{
    margin-left: 1%;
    margin-right: 1%;
    color: red;
    size:40px;
}

.assmitjaStyle{
    margin-left: 1%;
    margin-right: 1%;
    color: #F2A71B;
}

.assaltaStyle{
    margin-left: 1%;
    margin-right: 1%;
    color: green;
}

.textIconStyle{
    font-size: 19px;
}

.columnStyle{
    text-align: center;
    font-size: 17px;
}


