.navbar-style{
    background-color: #F2911B;
    height: 20%;
}

.text-style{
    color: #014029;
    font-size: large;
    font-weight: bold;
}

.titilenav-style{
    color: #F2F2F2;
    font-size: x-large;
    margin-left:1%;
    font-weight: bold;
}

.custom-tag {
    max-width: 100%;
    height: 200px;
    background: #F2C185;
}

.cardsRow{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background: #F2F2F2;
}

.cardStyle{
    border: 5px solid #014029;
    border-radius: 20px;
    padding: 2%;
    width:75%;
}

.footerStyle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.viewStyle{
    height: 100vh;
    width: 100%;
    background: #F2F2F2;
}


